<!-- <div>

  <h1>Registration</h1>
  <table >
    <tr>
      <th>name</th>
      <th>id</th>
    </tr>
    <tr >
      <td >
     
    </td> 
    <td></td>
  </tr>
   
     
   
  </table><br>

<input #newUser
(keyup.enter)="addUser(newUser.value)"
 (blur)="addUser(newUser.value); newUser.value='' ">
  

<button (click)="addUser(newUser.value)">Addname</button><br> 


</div> -->


<table border="2">
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
 <tr *ngFor="let emps of emp">
   <td>{{emps.id}}</td>
   <td>{{emps.name}}</td>

 </tr>
</table>




















